<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/6001385/pexels-photo-6001385.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container">
    <h1>Lists Wagon brings <strong>great movies</strong> to <strong>batch people</strong>!</h1>
    <%= link_to 'New List', new_list_path, { class: 'btn btn-success btn-lg' }%>
  </div>
</div>
<div class="cards">
  <% @lists.each do |list|  %>
    <%= link_to list_path(list) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'http://source.unsplash.com/featured/?cuteanimal'%>)">
        <h2><%= list.name %></h2>
      </div>
    <% end %>
  <% end %>
