<div class="container">
  <% @lists.each do |list|  %>
    <div class="card">
      <%# <img src="http://source.unsplash.com/featured/?movie&<%= rand(50) %>)"/> %>
      <div class="card-info">
        <h2><%= link_to list.name, list_path(list)%></h2>
      </div>
    </div>
  <% end %>
</div>
